<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>MasterServlet</servlet-name>
        <servlet-class>com.Controller.MasterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginCheckServlet</servlet-name>
        <servlet-class>com.Controller.AdminLoginCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdationServlet</servlet-name>
        <servlet-class>com.Controller.UpdationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Post_Controller</servlet-name>
        <servlet-class>com.Controller.Post_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Post_Controller</servlet-name>
        <servlet-class>com.Controller.Add_Post_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Skill_Controller</servlet-name>
        <servlet-class>com.Controller.Skill_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>State_Controller</servlet-name>
        <servlet-class>com.Controller.State_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>City_Controller</servlet-name>
        <servlet-class>com.Controller.City_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_State_Controller</servlet-name>
        <servlet-class>com.Controller.Add_State_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Skill_Controller</servlet-name>
        <servlet-class>com.Controller.Add_Skill_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_City_Controller</servlet-name>
        <servlet-class>com.Controller.Add_City_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp_Registration_Controller</servlet-name>
        <servlet-class>com.Controller.SignUp_Registration_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Employee_Registration_Controller</servlet-name>
        <servlet-class>com.Controller.Employee_Registration_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Designation_Controller</servlet-name>
        <servlet-class>com.Controller.Designation_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Designation_Controller</servlet-name>
        <servlet-class>com.Controller.Add_Designation_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtherUserLoginCheckServlet</servlet-name>
        <servlet-class>com.Controller.OtherUserLoginCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmployeeDetailController</servlet-name>
        <servlet-class>com.Controller.UpdateEmployeeDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePostController</servlet-name>
        <servlet-class>com.Controller.UpdatePostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePostController</servlet-name>
        <servlet-class>com.Controller.DeletePostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSkillController</servlet-name>
        <servlet-class>com.Controller.UpdateSkillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSkillController</servlet-name>
        <servlet-class>com.Controller.DeleteSkillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStateController</servlet-name>
        <servlet-class>com.Controller.UpdateStateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStateController</servlet-name>
        <servlet-class>com.Controller.DeleteStateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProjectController</servlet-name>
        <servlet-class>com.Controller.AddProjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Project_Controller</servlet-name>
        <servlet-class>com.Controller.Project_Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProjectController</servlet-name>
        <servlet-class>com.Controller.UpdateProjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProjectController</servlet-name>
        <servlet-class>com.Controller.DeleteProjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllocateProjectController</servlet-name>
        <servlet-class>com.Controller.AllocateProjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTeamleaderDetailController</servlet-name>
        <servlet-class>com.Controller.UpdateTeamleaderDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MasterServlet</servlet-name>
        <url-pattern>/MasterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginCheckServlet</servlet-name>
        <url-pattern>/AdminLoginCheckServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdationServlet</servlet-name>
        <url-pattern>/UpdationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Post_Controller</servlet-name>
        <url-pattern>/Post_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Post_Controller</servlet-name>
        <url-pattern>/Add_Post_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Skill_Controller</servlet-name>
        <url-pattern>/Skill_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>State_Controller</servlet-name>
        <url-pattern>/State_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>City_Controller</servlet-name>
        <url-pattern>/City_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_State_Controller</servlet-name>
        <url-pattern>/Add_State_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Skill_Controller</servlet-name>
        <url-pattern>/Add_Skill_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_City_Controller</servlet-name>
        <url-pattern>/Add_City_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp_Registration_Controller</servlet-name>
        <url-pattern>/SignUp_Registration_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Employee_Registration_Controller</servlet-name>
        <url-pattern>/Employee_Registration_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Designation_Controller</servlet-name>
        <url-pattern>/Designation_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Designation_Controller</servlet-name>
        <url-pattern>/Add_Designation_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtherUserLoginCheckServlet</servlet-name>
        <url-pattern>/OtherUserLoginCheckServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmployeeDetailController</servlet-name>
        <url-pattern>/UpdateEmployeeDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePostController</servlet-name>
        <url-pattern>/UpdatePostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePostController</servlet-name>
        <url-pattern>/DeletePostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSkillController</servlet-name>
        <url-pattern>/UpdateSkillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSkillController</servlet-name>
        <url-pattern>/DeleteSkillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStateController</servlet-name>
        <url-pattern>/UpdateStateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStateController</servlet-name>
        <url-pattern>/DeleteStateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProjectController</servlet-name>
        <url-pattern>/AddProjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Project_Controller</servlet-name>
        <url-pattern>/Project_Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProjectController</servlet-name>
        <url-pattern>/UpdateProjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProjectController</servlet-name>
        <url-pattern>/DeleteProjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllocateProjectController</servlet-name>
        <url-pattern>/AllocateProjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTeamleaderDetailController</servlet-name>
        <url-pattern>/UpdateTeamleaderDetailController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
